**/build/*
!**/build/gateware
**/build/gateware/*
!**/build/gateware/top.bit
.vscode/.ropeproject/objectdb
working/
**/tmp/
**/old
**/*.old
**/__pycache__
**/tempCodeRunnerFile.py
**/.Xil
*.vcd
*.old
*.pyc
*.pyo
*.swp
*.jou
*.log

